<div class="login-body">
    <div id="login-wrapper">
        <img src="assets/layout/images/login-logo.png" alt="omega-layout" />

        <div id="login-container">
            <span class="title">Omega</span>

            <div class="grid p-fluid">
                <div class="col-12">
                    <input type="text" autocomplete="off" pInputText placeholder="Username" />
                </div>
                <div class="col-12">
                    <input type="password" autocomplete="off" pInputText placeholder="Password" />
                </div>
                <div class="col-12 md:col-6">
                    <p-checkbox></p-checkbox>
                    <span class="remember-me">Remember Me</span>
                </div>
                <div class="col-12 md:col-6">
                    <a href="#">Forgot Password</a>
                </div>
                <div class="col-12">
                    <p-button type="button" label="Sign In" icon="pi pi-user" [routerLink]="['/']"></p-button>
                </div>
            </div>
        </div>

        <div class="login-footer">PrimeNG Omega</div>
    </div>
</div>
