<p-table #autorisationsTable [value]="[[]]" responsiveLayout="scroll">

       <ng-template pTemplate="caption">
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-download" (click)="autorisationsTable.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom" style="color: red"></button>

            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="autorisationsTable.filterGlobal($event.target.value, 'contains')" placeholder="entrer un mot-clé" />
            </span>
        </div>
        </ng-template>




    <ng-template pTemplate="header">
        <tr>
            <th type="text" field="Type" display="menu" *ngFor="let header of headers">
                {{header}}      
            </th>
           
        </tr>
    </ng-template>

    <ng-template pTemplate="body">
        <tr  *ngFor="let autorisations of clientAutorisations">
            <td *ngFor='let autorisation of autorisations'>
                {{autorisation}}
            </td>     
        </tr>
    </ng-template>

</p-table>
