<p-table #informationsTable [value]="[[]]" responsiveLayout="scroll">

    <ng-template pTemplate="caption">
     <div class="flex">
         <button type="button" pButton pRipple icon="pi pi-download" (click)="informationsTable.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom" style="color: red"></button>

         <span class="p-input-icon-left ml-auto">
             <i class="pi pi-search"></i>
             <input pInputText type="text" (input)="informationsTable.filterGlobal($event.target.value, 'contains')" placeholder="entrer un mot-clé" />
         </span>
     </div>
     </ng-template>




 <ng-template pTemplate="header">
     <tr>
         <th type="text" field="Type" display="menu" *ngFor="let header of headers">
             {{header}}      
         </th>
        
     </tr>
 </ng-template>

 <ng-template pTemplate="body">
    <tr>
        <td>{{clientInfo[0][0]}}</td>
        <td>{{clientInfo[1][0]}}</td>
    </tr>  
    <tr>
        <td>{{clientInfo[0][1]}}</td>
        <td>{{clientInfo[1][1]}}</td>
    </tr> 
    <tr>
        <td>{{clientInfo[0][2]}}</td>
        <td>{{clientInfo[1][2]}}</td>
    </tr> 
    <tr>
        <td>{{clientInfo[0][3]}}</td>
        <td>{{clientInfo[1][3]}}</td>
    </tr>
    <tr>
        <td>{{clientInfo[0][4]}}</td>
        <td>{{clientInfo[1][4]}}</td>
    </tr>
    <tr>
        <td>{{clientInfo[0][5]}}</td>
        <td>{{clientInfo[1][5]}}</td>
    </tr>
    <tr>
        <td>{{clientInfo[0][6]}}</td>
        <td>{{clientInfo[1][6]}}</td>
    </tr>

 </ng-template>

</p-table>
