<p-table [value]="[[]]" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Type</th>
            <th>Information</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" >
        <tr>
            <td>N° Client</td>
            <td>{{clientInfo[0][0]}}</td>
        </tr>
        <tr>
            <td>Raison Sociale ou Nom</td>
            <td>{{clientInfo[0][1]}}</td>
        </tr>
        <tr>
            <td>Sigle usuel</td>
            <td>{{clientInfo[0][2]}}</td>
        </tr>
        <tr>
            <td>Catégorie</td>
            <td>{{clientInfo[0][3]}}</td>
        </tr>
        <tr>
            <td>Secteur d'activité</td>
            <td>{{clientInfo[0][4]}}</td>
        </tr>
        <tr>
            <td>Client Douteux</td>
            <td>{{clientInfo[0][5]}}</td>
        </tr>
        <tr>
            <td>Date création client</td>
            <td>{{clientInfo[0][6]}}</td>
        </tr>
    </ng-template>
</p-table>
{{dateCreation}}
