<p-table #contactsTable [value]="clientImpayes" responsiveLayout="scroll"
    
       [filterDelay]="0" [globalFilterFields]="['Type','Informations']" style="border: 1px solid !important">

       <ng-template pTemplate="caption">
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-download" (click)="contactsTable.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom" style="color: red"></button>

            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="contactsTable.filterGlobal($event.target.value, 'contains')" placeholder="entrer un mot-clé" />
            </span>
        </div>
        </ng-template>




<ng-template pTemplate="header">
        <tr>
            <th type="text" field="Type" display="menu" *ngFor="let header of headers">
                {{header}}      
            </th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
        <tr *ngFor="let impayes of clientImpayes">
            <th type="text" field="Type" display="menu" *ngFor="let impaye of impayes" >
                {{impaye}}      
            </th>
           
        </tr>
    </ng-template>

</p-table>
